<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Pastebin</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>

        <h1>Pastebin</h1>
        
        <div>
            <!-- enctype="multipart/form-data" action="/pastes" -->
            <form method="post" action="#" th:object="${paste}" th:action="@{/pastes}">
                <textarea name="message" th:field="*{message}" rows="10" cols="30">
                </textarea>

                <table>
                    <tr>
                        <td>Expiration</td>
                        <td>
                            <select name="expiration" th:field="*{expiration}">
                                <option value="10m">10 minutes</option>
                                <option value="10m">30 minutes</option>
                                <option value="1h">1 hour</option>
                                <option value="1d">1 day</option>
                                <option value="1w">1 week</option>
                                <option value="1M">1 month</option>
                                <option value="1Y">1 year</option>
                                <option value="never">Never</option>
                            </select>

                        </td>
                    </tr>

                    <tr>
                        <td>Name</td>
                        <td><input name="name" type="text" th:field="*{name}" /></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="Save" /></td>
                    </tr>
                </table>
            </form>
        </div>

    </body>
</html>